/* **************** Polices personnalisées *****************/
@font-face {
    font-family: "Raleway";
    src: url("raleway.eot");
    src: url("raleway.eot?#iefix") format("embedded-opentype"),
        url("raleway.woff2") format("woff2"), url("raleway.woff") format("woff"),
        url("raleway.ttf") format("truetype"),
        url("raleway.svg#ralewaythin") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* **************** Eléments principaux *****************/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    color: #181818;
    margin: 0px;
}

/* Faire en sorte que input, select, textarea et button héritent la police de body. Pas d'héritage par défaut */
input,
select,
textarea,
button {
    font-family: inherit;
}

/* Les titres */
h1 {
    margin-bottom: 15px;
    margin-top: 0px;
}

h2 {
    font-size: large;
}

/* Les liens */
a,
a:visited {
    text-decoration: none;
    color: #181818;
    transition: 0.2s;
}

/* Les icones en bleu */
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog,
.fa-info,
.fa-star {
    color: #0065fc;
}

/* **************** En-tête *****************/
header {
    display: flex;
    flex-wrap: wrap;
}

/* Logo */
header img {
    width: 4cm;
    padding-left: 30px;
}

header a:nth-child(1) {
    flex-grow: 3;
}

/* Menu */
nav {
    flex-grow: 2;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav li {
    font-weight: bold;
    border-top: solid 2px #f2f2f2;
    text-align: center;
    display: flex;
    align-items: center;
}

nav li a:hover {
    color: #0065fc;
}

header .bouton-inscrire {
    display: flex;
    align-items: center;
    color: #0065fc;
    font-weight: bold;
}

/* **************** Section 1 - Bannière *****************/
#section1-banniere {
    margin: 30px;
}

#barre-recherche {
    display: flex;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 15px;
}

#barre-recherche .fa-map-marker-alt {
    font-size: larger;
    background-color: #f2f2f2;
    border: solid 1px #d9d9d9;
    border-radius: 8px 0 0 8px;
    width: 50px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#barre-recherche .textinput {
    border: solid 1px #d9d9d9;
    border-left: none;
    font-weight: bold;
    font-size: large;

    padding-left: 15px;
    width: 100%;
    min-width: 150px;
}

#barre-recherche .bouton-rechercher {
    color: white;
    background-color: #0065fc;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 0 8px 8px 0;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.2s;
}

#barre-recherche .bouton-rechercher:hover {
    color: #0065fc;
    background-color: white;
    border: solid 1px #0065fc;
}

#barre-recherche .bouton-rechercher-icone {
    display: none;
}

#filtre {
    display: flex;
    flex-direction: row;
}

#liste-filtre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#filtre .item-filtre {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    border-radius: 100px;
    border: solid 2px #d9d9d9;
    margin-inline-start: 30px;
    padding-right: 10px;
    border-left: none;
    text-align: center;
    transition: 0.2s;
    margin-bottom: 15px;
}

#filtre .item-filtre:hover {
    color: #0065fc;
    transform: translateY(-4px);
}

#filtre .item-filtre i {
    background-color: #deebff;
    border-radius: 50%;
    width: 43px;
    margin-right: 5px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#filtre .item-filtre span {
    white-space: nowrap;
    padding-top: 13px;
}

#information i {
    border: solid 1px #d9d9d9;
    border-radius: 100px;
    width: 25px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
}

#information span {
    padding-top: 5px;
}

/* **************** Section 2 - Hebergement *****************/
#section2-hebergement {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

#hebergement-recherche {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 40px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#hebergement-recherche .pied-section h2 {
    margin-bottom: 0;
}

#liste-hebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#liste-hebergement .carte-hebergement {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
    height: 225px;
    border-radius: 30px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    padding: 5px 5px 10px 5px;
    transition: 0.2s;
}

#liste-hebergement .carte-hebergement:hover {
    transform: translateY(-10px);
}

#liste-hebergement .carte-hebergement span {
    margin-left: 15px;
}

#liste-hebergement .carte-hebergement img {
    object-fit: cover;
    width: auto;
    height: 70%;
    border-radius: 30px 30px 0px 0px;
}

#hebergement-populaire {
    width: 440px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 30px;
}

#hebergement-populaire .titre-section {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

#hebergement-populaire .titre-section i {
    font-size: x-large;
}

#liste-populaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#liste-populaire .carte-populaire {
    background-color: white;
    display: flex;
    width: 400px;
    height: 160px;
    border-radius: 30px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    padding: 5px;
    transition: 0.2s;
}

#liste-populaire .carte-populaire:hover {
    transform: translateY(-10px);
}

#liste-populaire .carte-populaire img {
    object-fit: cover;
    width: 40%;
    height: auto;
    border-radius: 30px 0px 0px 30px;
}

#liste-populaire .carte-populaire .carte-populaire-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.pied-section a:hover {
    color: #0065fc;
}

/* **************** Section 3 - Activites *****************/
#section3-activite {
    margin: 30px;
}

#liste-activite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#liste-activite .groupe-activite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#liste-activite .activite-colA .carte-activite {
    width: 340px;
    height: 444px;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    transition: 0.2s;
}

#liste-activite .carte-activite:hover {
    transform: translateY(-10px);
}

#liste-activite .carte-activite p {
    margin-left: 15px;
    margin-top: 10px;
}

#liste-activite .activite-colA .carte-activite img {
    object-fit: cover;
    width: 100%;
    height: 88%;
    border-radius: 20px 20px 0px 0px;
}

#liste-activite .activite-colB .carte-activite {
    width: 340px;
    height: 215px;
    border-radius: 20px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    transition: 0.2s;
}

#liste-activite .activite-colB .carte-activite img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
}

/* **************** Footer *****************/
footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer article {
    width: 33%;
}

footer ul {
    list-style-type: none;
}

footer li {
    margin-bottom: 10px;
}

footer a:hover {
    color: #0065fc;
}

/* **************** Responsive design *****************/
/* Media query pour les petits ecrans */
@media all and (max-width: 1024px) {
    #barre-recherche {
        width: 100%;
    }

    #section2-hebergement {
        flex-direction: column;
    }

    #section2-hebergement #hebergement-recherche {
        margin-right: 0;
        order: 2;
    }

    #hebergement-populaire {
        width: auto;
    }
}

/* Media query pour les très petits ecrans */
@media all and (max-width: 670px) {
    header nav {
        order: 3;
        width: 100%;
    }

    /* Logo */
    header img {
        width: 2.5cm;
    }

    #barre-recherche .bouton-rechercher-icone {
        display: inline;
    }

    #barre-recherche .bouton-rechercher-texte {
        display: none;
    }
}

/* Media query pour les smartphone */
@media all and (max-device-width: 480px) {
    body {
        margin: 0;
    }

    header {
        align-items: center;
    }

    header img {
        padding-left: 10px;
    }

    header .bouton-inscrire {
        padding-right: 10px;
    }

    nav li {
        border-bottom: solid 2px #f2f2f2;
        border-top: none;
        padding: 0;
        width: 100%;
    }

    header .bouton-inscrire {
        padding-top: 0;
    }

    #filtre {
        flex-direction: column;
    }

    #section2-hebergement {
        margin: 0;
    }

    #hebergement-recherche {
        background-color: white;
        padding: 20px;
    }

    #liste-hebergement .carte-hebergement {
        width: 330px;
        height: 200px;
        padding: 0 0 10px 0;
    }

    #liste-hebergement .carte-hebergement img {
        height: 60%;
    }

    #hebergement-populaire {
        padding: 20px;
    }

    #liste-populaire .carte-populaire {
        width: 330px;
        height: 150px;
    }

    #liste-populaire .carte-populaire img {
        width: 50%;
    }

    #liste-activite .activite-colA .carte-activite {
        width: 330px;
        height: 215px;
        margin: 15px;
    }

    #liste-activite .activite-colA .carte-activite img {
        width: 100%;
        height: 80%;
    }

    #liste-activite .activite-colB .carte-activite {
        width: 330px;
        height: 215px;
        margin: 15px;
    }

    #liste-activite .activite-colB .carte-activite img {
        width: 100%;
        height: 80%;
    }

    footer {
        flex-direction: column;
        padding-bottom: 20px;
    }

    footer .item-footer {
        width: auto;
    }
}
