/* Body */
body {
    padding: 50px;
    font-family: "Raleway", sans-serif;
}

h2 {
    margin: unset;
}

h3 {
    margin: unset;
}

/* Header  */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo img {
    width: 4cm;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-inline-start: 50px;
}

nav a {
    color: #0065fc;
    font-weight: 600;
    text-decoration: none;
}

/* Section Search */
#section-search {
    display: flex;
    flex-direction: column;
}

#section-search h3 {
    color: rgba(0, 0, 0, 0.6);
}

#searchbar {
    border: solid 1px #f2f2f2;
    border-radius: 10px;
    width: fit-content;
    height: 43px;
    display: flex;
    flex-direction: row;
}

#searchbar i {
    background-color: #f2f2f2;
    width: 43px;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

#searchbar .textinput {
    font-weight: bolder;
    vertical-align: middle;
    border: none;
    font-family: "Raleway", sans-serif;
    padding-left: 10px;
}

#searchbar .button {
    font-family: "Raleway", sans-serif;
    background-color: #0065fc;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 0px 10px 10px 0px;
    width: 100px;
}

#filtres {
    display: flex;
    flex-direction: row;
}

#filtres i {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    text-align: center;
    vertical-align: middle;
}

#filtres .item-filtres {
    font-weight: 600;
    border-radius: 100px;
    border: solid 2px #d9d9d9;
}

#infos i {
    width: 20px;
    height: 20px;
    color: #0065fc;
    border-radius: 50%;
    border: solid 2px #d9d9d9;
    text-align: center;
}

/* Contenu */
#contenu {
    display: flex;
    flex-wrap: wrap;
}

/* Section hébergements */

#section-hebergements {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 40px;
}

#liste-hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#section-hebergements .item-hebergements {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 250px;
    border-radius: 30px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    padding: 5px;
}

.item-hebergements img {
    object-fit: cover;
    width: auto;
    height: 60%;
    border-radius: 30px 30px 0px 0px;
}

.item-hebergements span {
    margin-left: 10px;
}

/* Section populaires */

#section-populaires {
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 40px;
}

#entete-populaires {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#liste-populiares {
    display: flex;
    flex-direction: column;
}

#section-populaires .item-populaires {
    background-color: white;
    display: flex;
    width: 400px;
    height: 160px;
    border-radius: 30px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    padding: 5px;
}

.item-populaires-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.item-populaires img {
    object-fit: cover;
    width: 160px;
    height: auto;
    border-radius: 30px 0px 0px 30px;
}

/* Section activités */

.item-activites {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
}

.item-activites img {
    border-radius: 30px 30px 0px 0px;
}

/* Footer */

footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
}
