/* ******************************************************** */
/* ********************** Polices  ************************ */
/* ******************************************************** */
@font-face {
    font-family: "Raleway";
    src: url("polices/Raleway-VariableFont_wght.ttf")
            format("woff2 supports variations"),
        url("polices/Raleway-VariableFont_wght.ttf") format("woff2-variations");
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}

/* ******************************************************** */
/* ****************** Elements generaux ******************* */
/* ******************************************************** */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #181818;
    margin: 0px;
}

/* Faire en sorte que input, select, textarea et button 
   héritent la police de body. Pas d'héritage par défaut */
input,
select,
textarea,
button {
    font-family: inherit;
}

h1 {
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 22px;
    font-weight: 700;
}

h2 {
    font-size: large;
    margin: 10px 10px 15px 0;
}

a,
a:visited {
    text-decoration: none;
    color: initial;
    transition: 0.2s;
}

.liste > a,
.carte > a {
    display: contents;
}

/* Les icones en bleu */
.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog,
.fa-info,
.fa-star {
    color: #0065fc;
}

/* Les etoiles plus petites*/
.fa-star {
    font-size: smaller;
}

section {
    margin: 30px 50px 40px 50px;
}

.titre-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 22px;
    font-weight: 700;
}

.titre-section i {
    font-size: 1.1em;
}

.titre-section a:hover {
    color: #0065fc;
}

.pied-section {
    font-size: large;
    font-weight: bold;
    margin: 10px 10px 15px 0;
}

.pied-section a:hover {
    color: #0065fc;
}

article {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 40px;
}

ul {
    list-style-type: none;
}

.carte {
    display: flex;
    background-color: white;
    transition: 0.2s;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    font-size: 14px;
}

.carte:hover {
    transform: translateY(-10px);
}

/* ******************************************************** */
/* *********************** En tete ************************ */
/* ******************************************************** */
header {
    display: flex;
    flex-wrap: wrap;
    height: 110px;
    margin-right: 54px;
    margin-left: 54px;
}

#logo {
    display: flex;
    align-items: center;
    flex-grow: 3;
}

#logo a {
    display: contents;
}

header img {
    width: 98px;
}

header a:nth-child(1) {
    flex-grow: 3;
}

/* *********************** Menu ************************ */
nav {
    flex-grow: 0.7;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav li {
    font-weight: 500;
    border-top: solid 3px #f2f2f2;
    text-align: center;
    display: flex;
    align-items: center;
    transition: 0.3s;
    width: 9em;
}

nav li a:hover {
    color: #0065fc;
}

nav li:hover {
    border-color: #0065fc;
}

.bouton-inscrire,
.bouton-inscrire:visited {
    display: flex;
    align-items: center;
    color: #0065fc;
    font-weight: 700;
}

/* ******************************************************** */
/* **************** Section 1 - Banniere ****************** */
/* ******************************************************** */
#section1-banniere {
    margin-top: 5px;
    margin-bottom: 30px;
}

#barre-recherche {
    display: flex;
    width: 420px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: solid 1px #f2f2f2;
    border-radius: 15px;
}

#barre-recherche .fa-map-marker-alt {
    font-size: larger;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    transition: 0.2s;
}

#barre-recherche .fa-map-marker-alt:hover {
    background-color: #0065fc;
    color: white;
}

.textinput {
    border: none;
    font-weight: 700;
    padding-left: 15px;
    width: 100%;
    min-width: 150px;
    font-size: 18px;
}

.bouton-rechercher {
    color: white;
    background-color: #0065fc;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 0 15px 15px 0;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.2s;
}

.bouton-rechercher:hover {
    color: #0065fc;
    background-color: white;
    border: solid 1px #0065fc;
}

.bouton-rechercher-icone {
    border-radius: 15px;
    font-size: 15px;
    display: none;
}

#filtre {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#filtre h2 {
    margin-right: 32px;
}

#liste-filtre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-filtre {
    display: grid;
    grid-template-columns: 50px auto;
    grid-column-gap: 5px;
    font-weight: 700;
    border-radius: 100px;
    border: solid 2px #d9d9d9;
    transition: 0.2s;
    height: 46px;
    justify-items: stretch;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 13px;
}

.icone-filtre {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #deebff;
}

.item-filtre:hover {
    color: #0065fc;
    transform: translateY(-4px);
}

.item-filtre i {
    background-color: #deebff;
}

.item-filtre span {
    white-space: nowrap;
    padding: 0 15px 0 5px;
}

#information {
    display: flex;
}

#information i {
    border: solid 1px #d9d9d9;
    border-radius: 100px;
    width: 25px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    font-size: 12px;
}

#information:last-child {
    padding-top: 5px;
}

/* ******************************************************** */
/* *************** Section 2 - Hebergement **************** */
/* ******************************************************** */
#section2-hebergement {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

/* **************** Hebergement recherche ***************** */
#hebergement-recherche {
    display: flex;
    flex-direction: column;
}

#hebergement-recherche .pied-section {
    margin: 0px;
}

#liste-hebergement {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    flex-grow: 2;
    margin-top: 20px;
    margin-bottom: 40px;
}

.carte-hebergement {
    flex-direction: column;
    padding: 5px;
}

.carte-hebergement img {
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}

.carte-hebergement-description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
}

.carte-hebergement-description div:first-child {
    font-weight: 700;
    font-size: 15px;
}

/* **************** Hebergement populaire ***************** */
#hebergement-populaire {
    display: flex;
    flex-direction: column;
}

#liste-populaire {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    flex-grow: 2;
    margin-top: 20px;
}

.carte-populaire {
    padding: 5px;
}

.carte-populaire img {
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    width: 45%;
}

.carte-populaire-description {
    padding: 15px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carte-populaire-description div:first-child {
    font-weight: 700;
    font-size: 15px;
}

/* ******************************************************** */
/* **************** Section 3 - Activite ****************** */
/* ******************************************************** */
#liste-activite {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    column-gap: 43px;
    row-gap: 43px;
    margin-top: 15px;
}

.carte-activite {
    flex-direction: column;
}

.carte-activite:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
}

.carte-activite:nth-child(4) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.carte-activite-description {
    padding: 20px;
    font-weight: 700;
    font-size: 15px;
    flex-grow: 2;
}

.carte-activite-image {
    height: 100%;
}

.carte-activite-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

/* ******************************************************** */
/* ******************** Pied de page ********************** */
/* ******************************************************** */
footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 50px 50px;
    margin-top: 60px;
}

footer .item-footer {
    width: 30%;
}

footer ul {
    padding: 0;
}

footer li {
    margin-bottom: 10px;
}

footer a:hover {
    color: #0065fc;
}

footer ul li:first-child {
    margin-bottom: 20px;
}

/* ******************************************************** */
/* ******************* Media queries  ********************* */
/* ******************************************************** */

/* *************** Petits ecrans < 1200px  ***************** */
@media all and (max-width: 1200px) {
    #section2-hebergement {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    #hebergement-recherche {
        margin-right: 0;
        order: 2;
    }

    #hebergement-populaire {
        max-width: none;
    }

    #liste-populaire {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: auto;
    }

    .carte-populaire {
        flex-direction: column;
    }

    .carte-populaire img {
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        width: 100%;
    }

    .carte-populaire-description {
        padding: 5px 12px 5px 12px;
        flex-grow: 2;
    }
}

/* *************** Tablettes < 768px  ***************** */
@media all and (max-width: 768px) {
    #liste-hebergement {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: auto auto auto;
    }

    #liste-populaire {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .carte-populaire {
        flex-direction: row;
    }

    .carte-populaire img {
        object-fit: cover;
        border-radius: 15px 0 0 15px;
        width: 40%;
    }

    .carte-populaire-description {
        padding: 15px 20px 10px 20px;
    }

    #liste-activite {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(4, minmax(0, 1fr));
    }

    .carte-activite:first-child {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .carte-activite:nth-child(4) {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

/* ************ Smartphones < 500px  ************ */
@media all and (max-width: 500px) {
    /* ************ Elements generaux  ************ */
    body {
        margin: 0;
    }

    /* ***************** En tete  ***************** */
    header {
        margin: 15px 0 0 0;
        height: 110px;
    }

    header img {
        padding-left: 20px;
    }

    header nav {
        order: 3;
        width: 100%;
    }

    header .bouton-inscrire {
        padding-right: 20px;
        padding-top: 0;
    }

    nav li {
        border-bottom: solid 3px #f2f2f2;
        border-top: none;
        width: 100%;
    }

    /* ************* Section 1 - Banniere  ************* */
    #section1-banniere {
        margin: 35px 20px 40px 20px;
    }

    #barre-recherche {
        width: 100%;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .bouton-rechercher-icone {
        display: inline;
    }

    .bouton-rechercher-texte {
        display: none;
    }

    #filtre {
        flex-direction: column;
        margin-bottom: 35px;
    }

    #filtre .item-filtre {
        margin-right: 10px;
    }

    /* ************* Section 2 - Hebergement  ************* */
    #section2-hebergement {
        margin: 0;
    }

    /* ******** Hebergement recherche  ******** */
    #hebergement-recherche {
        display: block;
        background-color: white;
        padding: 20px;
    }

    #liste-hebergement {
        grid-template-columns: auto;
        row-gap: 12px;
        margin-bottom: 35px;
    }

    .carte-hebergement {
        height: 12rem;
    }

    .carte-hebergement img {
        height: 58%;
    }

    /* ******** Hebergement populaire  ******** */
    #hebergement-populaire {
        padding: 20px 20px 35px 20px;
        border-radius: 0;
    }

    #liste-populaire {
        row-gap: 10px;
    }

    .carte-populaire {
        height: 135px;
    }

    /* *************** Section 3 - Activite  ************** */
    #section3-activite {
        margin: 35px 20px 20px 20px;
    }

    #liste-activite {
        display: block;
        margin-top: 25px;
    }

    .carte-activite {
        height: 190px;
        margin-bottom: 25px;
        justify-content: space-between;
    }

    .carte-activite-image {
        height: 70%;
    }

    /* ***************** Pied de page  ***************** */
    footer {
        flex-direction: column;
        margin-top: 50px;
        padding: 50px 30px 50px 30px;
    }

    footer ul:first-child,
    footer h2 {
        margin-top: 0;
    }

    footer .item-footer {
        width: auto;
    }
}
